<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_4toAN2.Properties.Settings.BD_Matriculacion_VehicularConnectionString"
            connectionString="Data Source=DESKTOP-TGUDP5C\SQLEXPRESS;Initial Catalog=BD_Matriculacion_Vehicular;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_4toAN2.Properties.Settings.Base_Matriculacion_VehiculosConnectionString"
            connectionString="Data Source=ROMANCRAY\SQLEXPRESS;Initial Catalog=Base_Matriculacion_Vehiculos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>